/* for the Nigeria flag */
.flag {
    height: 510px;
    width: 700px;
    background-color: #228C22;
}

.flag > div > p {
    height: 511px;
    width: 350px;
    position: relative;
    background-color: white;
    left: 25%;
    top: -1px;
}

/* for the Greece flag */
.project {
    position: absolute;
    right: 10px;
    background-color: #0c1fdd;
    height: 500px;
    width: 600px;
    top: 15px;
}

.white {
    width: 100%;
    height: 10px;
    background-color: white;
}

.blue {
    width: 100%;
    height: 10px;
    background-color: blue;
}

.box {
    position: relative;
    width: 250px;
    height: 250px;
    background-color: blue;
    top: -526px;
}

.box > p {
    position: relative;
    left: 90px;
    height: 250px;
    width: 60px; 
    background-color: white;
}

.box > div {
    position: relative;
    width: 100%;
    height: 50px;
    background-color: white;
    top: -160px;
}

/* for Niger flag */
.niger {
    background-color: white;
    height: 510px;
    width: 700px;
    position: relative;
    left: 310px;
}

.middle{
    background-color: #e05206;
    height: 180px;
    width: 100%;
    
}

.last {
    background-color: #0db02b;
    height: 180px;
    width: 100%;
    position: relative;
    top: 18px;
}

.pain {
    background-color: #e05206;
    position: relative;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    left: 300px;
}

@media (min-width: 319px) and (max-width: 480px) {
  /*for mobile devices between 319px - 480px */
  /*For the Greece Flag */
.project {
    display: none;
}

/*For the Nigeria Flag */
.flag {
    width: 200px;
    height: 180px;
}

.flag > div > p {
    width: 70px;
    height: 181px;
    left: 63px;
}

/*For the Niger Flag */
.niger {
    left: 0px;
    width:200px;
    height: 200px;
}

.middle{
    width: 200px;
    height: 70px;
}

.pain {
    width: 70px;
    height: 70px;
    left: 65px;
    top: 7px;
}

.last {
    width: 200px;
    height: 70px;
}
}
